version: "3"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: printsys
      POSTGRES_USER: printsys
      POSTGRES_PASSWORD: printsys
    ports:
      - "55432:5432"

  storage:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"
